@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");

.random-person {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #person-box {
        border-radius: 3px;
        position: relative;
        width: 600px;
        padding: 40px 50px;
        display: table;
        background-color: #fff;

        #person-img {
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 130px;
                background: #F0F0F0;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
            }

            img {
                width: 150px;
                height: 150px;
                position: relative;
                border-radius: 50%;
                padding: 5px;
                background: #fff;
                border: 1px solid transparent;
                margin-bottom: 2rem;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            }
        }

        #person-info {
            text-align: center;
            color: inherit;

            p {
                margin: 0;
            }

            h2 {
                margin-bottom: 0;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .button {
                height: 38px;
                border: none;
                border-radius: 3px;
                color: inherit;
                outline: none;
                font-size: 1em;
                padding: 8px 18px 6px 18px;
                margin-top: 30px;
                opacity: 1;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }
        }

        #randomBtn {
            margin: 1.5rem auto 0;
            text-transform: uppercase;
            color: #fff;
            padding: .375rem .75rem;
            letter-spacing: .1rem;
            display: block;
            transition: all .3s linear;
            font-size: .875rem;
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            border-radius: .25rem;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}