.light-theme {
    color: #22033C;
    background: #F9F9F9;
    transition: all 0.3s linear;
}

.dark-theme {
    color: #fff;
    background: #222;
    transition: all 0.3s linear;
}

#theme {
    height: 100vh;
    text-align: center;

    .header {
        width: 25rem;
        display: flex;
        align-items: center;
        padding-top: 3rem;
        margin:0 auto 2rem;
        justify-content: space-around;

        .icon {
            border: none;
            outline: none;
            color: inherit;
            height: 1.2rem;
            cursor: pointer;
            font-size: 1.5rem;
            background: transparent;
        }
    }
}